#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    width: 150px;
}

#links{
    display: flex;
    justify-content: space-between;
}
#cart{
    width: 50px;
    height: 50px;
}
#links a{
    margin:10px;
    text-decoration: none;
    color: red;
    font-size: 24px;
}

#links a:hover{
    color: white;
    cursor: pointer;
}

#mobile{
    display: none;
}

#cartnumber{
    position: relative;
    left: 35px;
    top: -30px;
}

#cartprev{
    position: fixed;
    height: -webkit-fill-available;
    background: white;
    right: 0px;
    overflow: auto;
}


@media(max-width:600px){
    #mobile img{
       height: 100px;

    }
    #m{
        align-items: center;
        justify-content: center
    }
    #mobile{
        display: block;
        flex-direction: row;
        color:red;
        font-size: 24px;
       
    }
    #mobileimg{
        width: 75%;
    }

    #mobilebutton{
        width: 10%;
        position: relative;
        bottom: 20px;
        margin: auto;
    }

    #mobile span{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    #mobile span a{
        text-decoration: none;
        color:red
    }


    #nav{
        display: none;
    }
}
