@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=UnifrakturCook&display=swap');

body {
  margin: 0;
  font-family: "UnifrakturCook", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
  color: red;
  background-image: url('https://static.wixstatic.com/media/448c6a_34f4b37feaa24008bd4198f6ac29e785~mv2.gif');
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;

}



button{
  height: 30px;
  width: 30%;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: red;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;

}