body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
  color: red;
  background-image: url('https://media3.giphy.com/media/RUqHwpO1yfhVo2e0CX/200.webp?cid=ecf05e47uhjhigpkhuacvgx3d0mpz13fyvk8lc3xabdeo41z&ep=v1_gifs_search&rid=200.webp&ct=g');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Times New Roman', Times, serif

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  height: 30px;
  width: 30%;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: red;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;

}