#cardimg{
    width:300px
}

#card{
    /* width: 370px; */
    background-color: white;
    margin:10px;
    /* border-radius: 10px; */
    border: 2px solid black;
    font-size: 24px;
}
#card p{
    margin:0px
}



#card div{
    padding: 10px;

}